@model IRRM.Models.IncidentSubRootCause_M

@{
    Layout = null;
}
 
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainform" }))
{
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
      
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="control-label col-md-3"><b>Incident Main Root Cause <span class="red">*</span> </b></div>
                <div class="col-md-9">
                    @Html.DropDownList("IncidentMainRootCauseID", null, htmlAttributes: new { @class = "form-control", @required = "required" })
                    @Html.ValidationMessageFor(model => model.IncidentMainRootCauseID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="control-label col-md-3"><b>Incident Sub Root Cause <span class="red">*</span> </b></div>


                <div class="col-md-9">
                    @Html.TextAreaFor(model => model.IncidentSubRootCause, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    @Html.ValidationMessageFor(model => model.IncidentSubRootCause, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">

                <div class="control-label col-md-3"><b>Answer Type <span class="red">*</span> </b></div>
                <div class="col-md-9">
                <select class="form-control" name="AnswerType" required>
                    <option value="">Select</option>
                    <option value="1">Textbox</option>
                    <option value="2">Choice</option>
                </select>    
                </div>
            </div>

            
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <input type="submit" value="Create" class="btn btn-danger" />
                </div>
            </div>
        </div>
}

    <script>
    $(document).ready(function () {
        $("#mainform").submit(function (e) {
            e.preventDefault();
            var formdata = new FormData(this);
            $.ajax({
                method: "POST",
                url: "@Url.Content("~/IncidentSubRootCause_M/Create")",
                data: formdata,
                mimeTypes: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                  //  alert('Successfully added!');
                    window.location.href = "@Url.Content("~/IncidentSubRootCause_M")";
                },
                error: function () {
                    alert("Couldn't Save, check the input values!");
                }
            });
        });
    });
    </script>