@model IRRM.Models.Document

<script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
<link href="@Url.Content("~/assets/plugins/datatables/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/datatables/buttons.bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/datatables/dataTables.bootstrap.min.css")" rel="stylesheet" type="text/css" />
@{

    ViewBag.Title = "Index";
}
<style>
    .form-control {
        width: 100%;
    }
</style>


<div class="content-page">
    <!-- Start content -->
    <div class="content">

        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <h2 class="col-md-6">Document Create</h2>


                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="page-content-wrapper ">

            <div class="container">



                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-horizontal">

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                        <div class="form-group">
                                            <div class="col-md-4">
                                                <label class="control-label">Reference No.</label>
                                                @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
                                            </div>

                                            <div class="col-md-4">
                                                <label class="control-label col-md-2">Category </label>
                                                <select class="form-control" required name="DocCategoryID" id="DocCategoryID" onchange="getdocumentsubcat()">
                                                    <option value="">Select</option>
                                                    @foreach (var cat in ViewBag.Category)
                                                    {
                                                        <option value="@cat.DocCategoryID">@cat.DocCategory</option>
                                                    }
                                                </select>

                                            </div>
                                            <div class="col-md-4">
                                                <label class="control-label">Sub Category </label>
                                                <select class="form-control" required name="DocSubCategoryID" id="DocSubCategoryID">
                                                    <option value="">Select</option>
                                                </select>

                                            </div>

                                        </div>



                                        <div class="form-group">

                                            <div class="col-md-12">
                                                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @required ="required" } })
                                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="pull-right col-md-12">
                                                <input type="submit" value="Next" class="btn btn-success" />
                                            </div>
                                        </div>
                                    </div>
                                }



                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </div>
</div>


<script>
    function getdocumentsubcat() {
        $.ajax({
            method: "GET",
            url: "@Url.Content("~/DocumentSubCategory_M/DocumentSubCategory/")" + $('#DocCategoryID').val(),
            contentType: false,
            cache: false,
            processData: false,
            success: function (data) {
                $("#DocSubCategoryID").children().remove();
                  $("#DocSubCategoryID").append("<option value='' >Select</option>");
                $.each(data, function (key, value) {
                    $("#DocSubCategoryID").append("<option value='" + data[key].DocSubCategoryID + "' >" + data[key].DocSubCategory + "</option>");
                });

            },
            error: function () {
            }
        });
    }
    
</script>



