@model IRRM.Models.Task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Registered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Registered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUserID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUserID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReferenceNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReferenceNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignedTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStatusID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStatusID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskCategory_M.TaskCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskCategory_M.TaskCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskPriorities_M.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskPriorities_M.Priority)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
