@model IRRM.Models.IncidentHarmScore_M

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>IncidentHarmScore_M</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IncidentHarmScoreCode)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IncidentHarmScoreCode)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IncidentHarmScore)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IncidentHarmScore)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comments)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comments)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.IncidentHarmGroup_M.IncidentHarmGroup)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.IncidentHarmGroup_M.IncidentHarmGroup)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IncidentHarmScoreID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
