@model IRRM.Models.TaskPriorities_M

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskPriorities_M</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvestigationDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvestigationDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskPriorityID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
