@model IRRM.Models.TaskStatus_M

@{
    Layout = null;
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "mainform" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class = "control-label col-md-2 "><b>Task Status</b></div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.TaskStatus, new { htmlAttributes = new { @class = "form-control", @required ="required" } })
                @Html.ValidationMessageFor(model => model.TaskStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comments, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="RiskScore">
                    @Html.CheckBoxFor(model => model.Active, new { @checked = "checked" })
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-danger " />
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("#mainform").submit(function (e) {
            e.preventDefault();
            var formdata = new FormData(this);
            $.ajax({
                method: "POST",
                url: "@Url.Content("~/TaskStatus_M/Create")",
                data: formdata,
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                  //  alert('Successfully added!');
                    window.location.href = "@Url.Content("~/TaskStatus_M")";
                },
                error: function () {
                    alert("Couldn't Save, check the input values!");
                }
            });
        });
    });
</script>