@model IRRM.Models.RiskLevel_M

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RiskLevel_M</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RiskLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActionTimeScale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActionTimeScale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReviewTimeScale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReviewTimeScale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RiskLevelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
